* {
	min-height: 10px;
}

body {
	background: #222;
}

.postcard {
	color: #8c52ff;
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	text-shadow: 1px 1px 1px #0ff;
	width: 400px;
	margin: 0;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 5px;
}

input {
	color: #0ff;
	border: none;
	border-bottom: 3px solid blueviolet;
}

::placeholder {
	color: #7223ce;
}

p {
	font-size: 16px;
}

.postcard-footer {
	text-align: center;
}

button {
	color: #8880ff;
	padding: 10px;
	text-shadow: 1px 1px 1px #0ff;
	background-image: linear-gradient(#8255ff, #99f, #0ff);
}
